html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


.image-wrapper img {
    display: inline-block;
}


.news-image {
    max-width: 1000px;
    max-height: 1000px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}
.card {
        border-radius: 8px;
    }

.preserve-linebreaks {
    white-space: pre-line;
    }

.badge {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
    }
