
{% extends 'base.html' %}
{% load static %}

{% block title %}Новости сегодня{% endblock %}

{% block content %}
  <div class="row g-2">
        <!-- Курсы валют -->
        <div class="col-md-7">
            <div class="card border-0 shadow-sm">
                <div class="card-body py-2">
                    <div class="d-flex align-items-center">
                        <span class="badge bg-success me-2">
                            <i class="bi bi-cash"></i>
                        </span>
                        <small class="text-muted me-3">Курсы:</small>

                        {% if rate_usd %}
                        <div class="d-flex flex-wrap gap-3">
                            <div class="d-flex align-items-center">
                                <small class="text-muted me-1">USD</small>
                                <span class="badge bg-success bg-opacity-10 text-success border border-success border-opacity-25">
                                    {{ rate_usd }}
                                </span>
                            </div>
                            <div class="d-flex align-items-center">
                                <small class="text-muted me-1">EUR</small>
                                <span class="badge bg-primary bg-opacity-10 text-primary border border-primary border-opacity-25">
                                    {{ rate_eur }}
                                </span>
                            </div>
                            <div class="d-flex align-items-center">
                                <small class="text-muted me-1">RUB</small>
                                <span class="badge bg-warning bg-opacity-10 text-warning border border-warning border-opacity-25">
                                    {{ rate_rub }}
                                </span>
                            </div>
                        </div>
                        {% else %}
                        <span class="text-muted small">Нет данных</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Температура -->
        <div class="col-md-5">
            <div class="card border-0 shadow-sm">
                <div class="card-body py-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="badge bg-info me-2">
                                <i class="bi bi-thermometer"></i>
                            </span>
                            <small class="text-muted me-2">Средняя температура по РБ:</small>

                            {% if t_avg %}
                            <div class="d-flex align-items-center">
                                <span class="fw-bold text-primary me-1">{{ t_avg|floatformat:1 }}°</span>
                                <a href="{% url 'weather' %}"> Смотреть погоду по городам </a>
                            </div>
                            {% else %}
                            <span class="text-muted small">Нет данных</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Фильтр по категориям -->
<div class="mb-3 d-flex justify-content-between align-items-center flex-wrap">
    <!-- Левая часть: категории -->
    <div class="d-flex flex-wrap">
        <!-- Кнопка "Все" -->
        <a href="{% url 'news' %}" class="btn btn-sm {% if not selected_category %}btn-success{% else %}btn-outline-success{% endif %} me-2 mb-2">
            Все
        </a>
        <!-- Категории -->
        {% for category in categories %}
            <a href="?category={{ category.id }}" class="btn btn-sm {% if category.id|stringformat:"s" == selected_category %}btn-success{% else %}btn-outline-success{% endif %} me-2 mb-2">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
</div>

    <!-- Поиск -->
    <form method="get" class="text-center mb-4">
        <div class="input-group w-50 mx-auto">
            <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Поиск по заголовку ..."
                   class="form-control border-success">
            <button class="btn btn-success" type="submit">🔍 Найти</button>
        </div>
    </form>

<!-- Новости -->
<div class="row">
    <h1 style="text-align: center;">Последние новости</h1>

    {% for news_item in news %}
    <div class="news-item">
        <h2 class="news-title">
            <a href="{% url 'news_detail' news_item.id %}">{{ news_item.title }}</a>
        </h2>

        {% if news_item.image_url %}
        <img src="{{ news_item.image_url }}" alt="{{ news_item.title }}" class="news-image">
        {% else %}
        <img src="{% static 'no-image.png' %}" class="img-fluid rounded shadow-sm" alt="Нет фото">
        {% endif %}
        👁️ {{ news_item.views }} просмотров
        <p class="card-text">{{ news_item.content|truncatewords:25 }}</p>
        <p class="category">
            Категория:
            {% if news_item.category %}
            {{ news_item.category.name }}
            {% else %}
            Без категории
            {% endif %}
        </p>
        <p class="category">
            Дата: {{ news_item.date_updated|date:"d F Y, H:i" }}
        </p>

    </div>
{% empty %}
    <p style="text-align: center;">Нет новостей для отображения.</p>
{% endfor %}
</div>
{% endblock %}
